name: rust-g
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          target: x86_64-pc-windows-msvc
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Rustfmt
        run: cargo fmt -- --check

      - name: Build (release) (default features)
        run: cargo build --target x86_64-pc-windows-msvc --locked --release

      - uses: actions/upload-artifact@v3
        with:
          name: Windows Build
            target/x86_64-pc-windows-msvc/release/rust_g.dll
            target/x86_64-pc-windows-msvc/release/rust_g.pdb
            target/rust_g.dm
